#h-logo {
    background-image: none;
    color: white;
    cursor: pointer;
}

#show-username {
    cursor: pointer;
}

#show-username, #header-log-out {
    color: white;
    font-weight: 700;
    text-align: center;
}
#header-log-out:hover {
    color: black;
}

#movieList {
    margin-top: 20px;
}

.h-movie-card {
    width: 150px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none!important;
}

.h-card-body {
    height: 50px;
    padding: 0px!important;
}

.h-card-body p {
    text-align: center;
    font-size: 14px;
    color: black;
}

.h-page-item {
    color: #007bff!important;
}

.disabled .h-page-item {
    color: grey!important;
}

.h-type-item {
    cursor: pointer;
}

.type hr {
    border-top: 1px dashed #8c8b8b;
}

.empty {
    padding: .5rem 1rem;
}

.no-show {
    display: none;
}