server:
  port: 9002

spring:
  application:
    name: nurupo-movie-movie
  #Database
  datasource:
    url: jdbc:mysql://localhost:3306/cloud_computer
    username: nurupo
    password: nurupo
  #JPA
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        current_session_context_class: org.springframework.orm.hibernate5.SpringSessionContext

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

info:
  app:
    name: Movie Management
    author: Xueba
